@charset "UTF-8";
@keyframes ItemsAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay-0 {
  animation-delay: 0s !important;
}

.delay-1 {
  animation-delay: 0.15s !important;
}

.delay-2 {
  animation-delay: 0.3s !important;
}

.delay-3 {
  animation-delay: 0.45s !important;
}

.delay-4 {
  animation-delay: 0.6s !important;
}

.delay-5 {
  animation-delay: 0.75s !important;
}

.delay-6 {
  animation-delay: 0.9s !important;
}

.delay-7 {
  animation-delay: 1.05s !important;
}

.delay-8 {
  animation-delay: 1.2s !important;
}

.delay-9 {
  animation-delay: 1.35s !important;
}

.delay-10 {
  animation-delay: 1.5s !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Shrikhand", cursive;
}

.main {
  margin: auto;
}

h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
}

.card-heart {
  cursor: pointer;
  position: relative;
}
.card-heart:hover .no-hover {
  opacity: 0;
}
.card-heart:hover .hover {
  opacity: 1;
}
.card-heart i {
  font-size: 2rem;
}
.card-heart .no-hover {
  position: absolute;
  transition-duration: 1.5s;
}
.card-heart .hover {
  opacity: 0;
  transition-duration: 1s;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0deg, 0%, 100%, 0.9);
  animation: loader 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
.loader .spinner {
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.loader .spinner div {
  width: 6%;
  height: 16%;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade 1s linear infinite;
}
.loader .spinner div.bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}
.loader .spinner div.bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -0.9167s;
}
.loader .spinner div.bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -0.833s;
}
.loader .spinner div.bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.7497s;
}
.loader .spinner div.bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.667s;
}
.loader .spinner div.bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.5837s;
}
.loader .spinner div.bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.5s;
}
.loader .spinner div.bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.4167s;
}
.loader .spinner div.bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.333s;
}
.loader .spinner div.bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.2497s;
}
.loader .spinner div.bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.167s;
}
.loader .spinner div.bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.0833s;
}

header {
  text-align: center;
  height: 3.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header a {
  position: absolute;
  left: 5rem;
  transform: translateY(-50%);
  top: 50%;
  color: inherit;
}
header a i {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.4rem;
}
header h1 {
  margin: 0;
  font-weight: 100;
}

footer {
  background: #353535;
}
footer .footer-container {
  padding: 1rem;
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: unset;
  justify-content: center;
  flex-direction: column;
}
footer .footer-container h3 {
  margin: 0;
  margin-bottom: 1rem;
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
footer .footer-container a {
  text-decoration: none;
  gap: 1rem;
  color: white;
  line-height: 1.6rem;
}
footer .footer-container a:hover {
  text-decoration: underline;
}
footer .footer-container a i {
  text-decoration: none;
  margin-right: 0.5rem;
}
footer .footer-restaurants {
  padding: 1.4rem;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 0;
  background-color: #eaeaea;
}
.localisation h3 {
  margin: 0;
  font-weight: 400;
}

.nos-restaurants {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f6f6f6;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
.nos-restaurants h2 {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 1rem;
}
.nos-restaurants p {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 1rem;
  font-weight: 300;
}
.nos-restaurants .btn {
  border: 0;
  padding: 1.2rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 2rem;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.nos-restaurants .btn:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  display: flex;
  align-items: none;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}
.fonctionnement h2 {
  margin: 0;
  margin-bottom: 2rem;
}
.fonctionnement ol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  counter-reset: steps;
  gap: 2rem;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}
.fonctionnement ol li {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  width: calc(100% - 4rem);
  background-color: #f6f6f6;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
  border-radius: 1rem;
  position: relative;
  transition: 0.2s;
  font-weight: 600;
}
.fonctionnement ol li:hover {
  background: #f5edff;
}
.fonctionnement ol li i {
  color: gray;
}
.fonctionnement ol li:before {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  content: "" counter(steps);
  counter-increment: steps;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: -0.7rem;
  background-color: #9356dc;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.restaurants {
  padding: 3rem 1rem;
  background-color: #eaeaea;
}
.restaurants h2 {
  margin: 0;
  margin-bottom: 2rem;
}
.restaurants .restaurants-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.restaurants .restaurants-container .card {
  text-decoration: none;
  color: inherit;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
  background-color: white;
}
.restaurants .restaurants-container .card .card-new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: #99e2d0;
  padding: 0.5rem 1rem;
  color: #1b6150;
  font-weight: 500;
}
.restaurants .restaurants-container .card .card-img {
  width: 100%;
  display: flex;
  height: 12rem;
}
.restaurants .restaurants-container .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants .restaurants-container .card .card-desc {
  padding: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header-img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.container-menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #eaeaea;
  z-index: 1;
  position: relative;
  padding: 1rem;
}
.container-menu .menu-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 0.4rem;
}
.container-menu .menu-contain h2 {
  font-family: Shrikhand, "cursive";
  margin-bottom: 2rem;
}
.container-menu .menu {
  display: grid;
  grid-template-columns: 1fr;
}
.container-menu .menu-display {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 0.4rem;
  margin-bottom: 2rem;
}
.container-menu .menu-display h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0rem 0rem 2rem;
  position: relative;
}
.container-menu .menu-display h3:after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4px;
  background-color: #99e2d0;
  bottom: -0.5rem;
  left: 0;
}
.container-menu .menu-items {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 4.2rem;
  border-radius: 0.75rem;
  max-width: 100%;
  margin-bottom: 1rem;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82) !important;
  transform: scale(0);
  animation-fill-mode: both !important;
  animation: ItemsAppear 1s;
}
.container-menu .menu-items:hover .menu-check {
  margin: 0;
}
.container-menu .menu-items:hover i {
  transform: rotate(0deg);
}
.container-menu .menu-title {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-menu .menu-title h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-menu .menu-title p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-menu .menu-price {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  min-width: 2.5rem;
}
.container-menu .menu-check {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  background-color: #99e2d0;
  margin-right: -4.1rem;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
}
.container-menu .menu-check i {
  min-height: 2rem;
  min-width: 2rem;
  justify-content: center;
  align-items: center;
  background: white;
  display: flex;
  border-radius: 100%;
  color: #99e2d0;
  transform: rotate(180deg);
  text-shadow: -1px 0 #99e2d0, 0 1px #99e2d0, 1px 0 #99e2d0, 0 -1px #99e2d0;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}
.container-menu .command {
  padding: 1rem 0 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container-menu .command .btn {
  border: 0;
  padding: 1.2rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 2rem;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.container-menu .command .btn:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.container-menu .command .btn-command {
  display: block;
  margin: auto;
  padding: 1.2rem 5rem;
}

@media (min-width: 992px) {
  .fonctionnement ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .fonctionnement ol li {
    width: calc(100% - 3rem);
  }
  .restaurants .restaurants-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .container-menu .menu {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .fonctionnement {
    max-width: 1440px;
    margin: auto;
  }
  .restaurants h2,
.restaurants-container {
    max-width: 1440px;
    margin: auto;
    margin-bottom: 2rem;
  }
  .container-menu {
    max-width: 1440px;
    margin: auto;
    margin-top: -4rem;
  }
}

/*# sourceMappingURL=style.css.map */
