.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.9);
  animation: loader 0.03s;
  animation-delay: 5s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  //   Disparition du loader
  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -100;
    }
  }
  // ******************************************
  & .loader-placement {
    width: 50%;
    height: 50%;
    & .cube {
      margin: 200px auto 0;
      transform: rotateX(-36deg) rotateY(-45deg);
      width: 100px;
      height: 100px;
      position: relative;
      /* perspective: 4000px; */
      transform-style: preserve-3d;
      animation: spin 3s infinite cubic-bezier(0.16, 0.61, 0.49, 0.91);
      & .face {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to top,
          #9356dc,
          #b35cdc,
          #cf64dc,
          #e86edb,
          #ff79da
        );
        border: 3px solid white;
        border-radius: 5px;
        box-shadow: 0 0 25px $purple;
      }

      & .top {
        transform: rotateX(90deg) translateZ(50px);
        animation: shift-top 3s infinite ease-out;
      }
      & .bottom {
        transform: rotateX(-90deg) translateZ(50px);
        animation: shift-bottom 3s infinite ease-out;
      }
      & .right {
        transform: rotateY(90deg) translateZ(50px);
        animation: shift-right 3s infinite ease-out;
      }
      & .left {
        transform: rotateY(-90deg) translateZ(50px);
        animation: shift-left 3s infinite ease-out;
      }
      & .front {
        transform: translateZ(50px);
        animation: shift-front 3s infinite ease-out;
      }
      .back {
        transform: rotateY(-180deg) translateZ(50px);
        animation: shift-back 3s infinite ease-out;
      }
    }
  }
}

// LOADER PAGE
// Rotation du cube
@keyframes spin {
  33% {
    transform: rotateX(-36deg) rotateY(-405deg);
  }
  100% {
    transform: rotateX(-36deg) rotateY(-405deg);
  }
}
// Séparation des faces du cube
@keyframes shift-top {
  33% {
    transform: rotateX(90deg) translateZ(50px);
  }
  50% {
    transform: rotateX(90deg) translateZ(100px);
  }
  60% {
    transform: rotateX(90deg) translateZ(100px);
  }
  75% {
    transform: rotateX(90deg) translateZ(50px);
  }
}

@keyframes shift-bottom {
  33% {
    transform: rotateX(-90deg) translateZ(50px);
  }
  50% {
    transform: rotateX(-90deg) translateZ(100px);
  }
  60% {
    transform: rotateX(-90deg) translateZ(100px);
  }
  75% {
    transform: rotateX(-90deg) translateZ(50px);
  }
}
@keyframes shift-right {
  33% {
    transform: rotateY(90deg) translateZ(50px);
  }
  50% {
    transform: rotateY(90deg) translateZ(100px);
  }
  60% {
    transform: rotateY(90deg) translateZ(100px);
  }
  75% {
    transform: rotateY(90deg) translateZ(50px);
  }
}

@keyframes shift-left {
  33% {
    transform: rotateY(-90deg) translateZ(50px);
  }
  50% {
    transform: rotateY(-90deg) translateZ(100px);
  }
  60% {
    transform: rotateY(-90deg) translateZ(100px);
  }
  75% {
    transform: rotateY(-90deg) translateZ(50px);
  }
}
@keyframes shift-front {
  33% {
    transform: translateZ(50px);
  }
  50% {
    transform: translateZ(100px);
  }
  60% {
    transform: translateZ(100px);
  }
  75% {
    transform: translateZ(50px);
  }
}

@keyframes shift-back {
  33% {
    transform: rotateY(-180deg) translateZ(50px);
  }
  50% {
    transform: rotateY(-180deg) translateZ(100px);
  }
  60% {
    transform: rotateY(-180deg) translateZ(100px);
  }
  75% {
    transform: rotateY(-180deg) translateZ(50px);
  }
}
