@use "../abstracts" as *;

.header-img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.container-menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: $gray;
  z-index: 1;
  position: relative;
  padding: $base-padding;
  & .menu-contain {
    @include flex(center, space-between, row);
    padding: 0 0.4rem;
    & h2 {
      font-family: Shrikhand, "cursive";
      margin-bottom: $bottom-margin;
    }
  }
  & .menu {
    display: grid;
    grid-template-columns: 1fr;
  }
  & .menu-display {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 0.4rem;
    margin-bottom: $bottom-margin;
    & h3 {
      text-transform: uppercase;
      font-weight: 400;
      margin: 0rem 0rem 2rem;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 4rem;
        height: 4px;
        background-color: #99e2d0;
        bottom: -0.5rem;
        left: 0;
      }
    }
  }
  & .menu-items {
    background: white;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px,
      rgb(0 0 0 / 20%) 0px -2px 0px inset;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 4.2rem;
    border-radius: 0.75rem;
    max-width: 100%;
    margin-bottom: 1rem;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82) !important;
    transform: scale(0);
    animation-fill-mode: both !important;
    animation: ItemsAppear 1s;
    &:hover .menu-check {
      margin: 0;
    }
    &:hover i {
      transform: rotate(0deg);
    }
  }
  & .menu-title {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    @include overflow;
    & h4 {
      margin: 0;
      @include overflow;
    }
    & p {
      margin: 0;
      @include overflow;
    }
  }
  & .menu-price {
    display: flex;
    align-items: end;
    justify-content: flex-start;
    min-width: 2.5rem;
  }
  & .menu-check {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-width: 4rem;
    background-color: #99e2d0;
    margin-right: -4.1rem;
    transition: all 0.5s;
    box-shadow: rgb(0 0 0 / 20%) 0px -2px 0px inset;
    & i {
      min-height: 2rem;
      min-width: 2rem;
      justify-content: center;
      align-items: center;
      background: white;
      display: flex;
      border-radius: 100%;
      color: #99e2d0;
      transform: rotate(180deg);
      text-shadow: -1px 0 #99e2d0, 0 1px #99e2d0, 1px 0 #99e2d0, 0 -1px #99e2d0;
      transition-duration: 0.5s;
      transition-delay: 0.1s;
    }
  }
  & .command {
    padding: $base-padding 0 $base-padding;
    margin-bottom: calc($base-padding * 2);
    @include flex(center, center, row);
    & .btn {
      @include buttongradient;
    }
    & .btn-command {
      display: block;
      margin: auto;
      padding: 1.2rem 5rem;
    }
  }
}
