@use "../abstracts/" as *;

header {
  text-align: center;
  height: 3.5rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  z-index: 1;
  position: relative;
  @include flex(center, center, row);
  & h1 {
    margin: 0;
    font-weight: 100;
  }
}
