// CARD MENU RESTAURANTS
// Apparition des items
@keyframes ItemsAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

// Ajout du délais

@for $i from 0 to 11 {
  .delay-#{$i} {
    animation-delay: 0.15s * $i !important;
  }
}
