// Colors
$purple: #9356dc;
$pink: #ff79da;
$green: #99e2d0;
$gray: #eaeaea;
$lightgray: #f6f6f6;
// Shadow
$base-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px,
  rgb(0 0 0 / 20%) 0px -2px 0px inset;
// Font
$base-font: "Roboto", sans-serif;
// padding
$base-padding: 1rem;
// Margin
$bottom-margin: 2rem;
